@using RealState.Domain.Entities.Identity
@using System.Security.Claims
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello, @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.GivenName)?.Value</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="SignOut">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }


</ul>
